# Global
.*.swp
.DS_Store


# PHP composer components
www/vendor

# Symfony
www/var/*
!www/var/logs/.gitkeep
!www/var/sessions/.gitkeep

# db passwords
www/app/config/parameters_db.yml

# frontend suff
www/web/index.html
www/web/assests*
